---
export interface Props {
  title: string;
  category: string;
  date: string;
  slug: string;
  description?: string; // description is optional
}

const { title, category, date, slug, description } = Astro.props;
---

<div class="post-entry-1 border-bottom">
  <div class="post-meta">
    <span class="date">{category}</span>
    <span class="mx-1">&bullet;</span>
    <span>{date}</span>
  </div>
  <h2 class="mb-2"><a href={slug}>{title}</a></h2>
  {description && <p class="mb-4 d-block">{description}</p>}
</div> 