---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from './FormattedDate.astro';

type Props = {
  post: CollectionEntry<'posts'>;
};

const { post } = Astro.props;
---

<article>
  <a href={`/posts/${post.slug}/`} class="text-2xl font-bold">
    {post.data.title}
  </a>
  <time datetime={post.data.pubDate.toISOString()}>
    <FormattedDate date={post.data.pubDate} />
  </time>
  {post.data.tags && (
    <ul class="flex flex-wrap gap-2">
      {post.data.tags.map((tag) => (
        <li>
          <a href={`/tags/${tag}/`} class="text-sm text-gray-600">#{tag}</a>
        </li>
      ))}
    </ul>
  )}
</article> 